{% extends "customer/index.html" %}

{% block content %}
<div class="contents">
    <section class="container-fluid ">
      <div class="container">
        <div class="row">
          <div class="col  " >
            <a href="{% url 'customer:hf' %}" class="text-decoration-none text-dark" >
              <div class="card" style="width: 10rem; height: 15rem;">
                <img src="https://rukminim1.flixcart.com/image/612/612/l3vxbbk0/headphone/b/v/u/-original-imagewuzqrqktf6m.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" align="center"><b style="font-size: 18px;">Headphones</b></p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="{% url 'customer:powerbank' %}" class="text-decoration-none text-dark" >
              <div class="card" style="width: 10rem;height: 15rem; ">
                <img src="https://rukminim1.flixcart.com/image/612/612/kw5ag7k0/power-bank/q/y/n/portable-32500-m6-crawl-original-imag8vu32ym9zr3z.jpeg?q=70" class="card-img-top" alt="..." >
                <div class="card-body">
                  <p class="card-text" align="center"><b style="font-size: 18px;">Powerbanks</b></p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="{% url 'customer:mmc' %}" class="text-decoration-none text-dark" >
              <div class="card" style="width: 10rem;height: 15rem;">
                <img src="https://rukminim1.flixcart.com/image/612/612/xif0q/memory-card/microsdxc/q/j/i/sdsquab-128g-gn6mn-sandisk-original-imaggz9xmhcgcfxz.jpeg?q=70" class="" alt="...">
                <div class="card-body">
                  <p class="card-text" align="center"><b style="font-size: 18px;">Memmory cards&Pendrive</b></p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="{% url 'customer:charger' %}" class="text-decoration-none text-dark" >
              <div class="card" style="width: 10rem;height: 15rem;">
                <img src="https://rukminim1.flixcart.com/image/612/612/l3rmzrk0/battery-charger/o/g/r/33w-9v-3a-fast-type-c-charger-for-note-9-pro-note-note10-10pro-original-imagesnxugzx76tj.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" align="center"><b style="font-size: 18px;">Chargers</b></p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="{% url 'customer:cable' %}" class="text-decoration-none text-dark" >
              <div class="card" style="width: 10rem;height: 15rem;">
                <img src="https://rukminim1.flixcart.com/image/612/612/l2ghgnk0/data-cable/m/o/n/-original-imagdst4rttjbtkc.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" align="center"><b style="font-size: 18px;">Cables</b></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </section>
    <section>

    </section>
</div>
{% endblock %}