


{% extends "customer/index.html" %}

{% block content %}
<section>
    <div class="contents">
        <div class="single-product">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 ">
                        <ul class="image_list">
                            <li><a href=""><img
                                        src="{{mobDetailed.frontImage.url}}"
                                        alt=""></a></li>
                            <li><a href=""><img
                                        src="{{mobDetailed.backImage.url}}"
                                        alt=""></a></li>
                            <li><a href=""><img
                                        src=""{{mobDetailed.leftImage.url}}
                                        alt=""></a></li>
                            <li><a href=""><img
                                        src="{{mobDetailed.rightImage.url}}"
                                        alt=""></a></li>
                        </ul>
                    </div>
                    <div class="col-8">

                        <div class="image_selected">
                            <a href="">
                                <div class="whishlist"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                        fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path
                                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                    </svg>
                                </div>
                            </a>
                            <img src="{{mobDetailed.frontImage.url}}"
                                alt="">
                        </div>
                        <div class="buybtn mt-5">
                         
                        <a  type="button" class="btn btn-warning " id="mobCartBtn"><svg xmlns="http://www.w3.org/2000/svg" width="25"
                            height="25" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg><span class="ms-2">ADD TO CART</span></a>    
                            <a href="" class="btn  ms-3" style="background-color: orange;"> <span class="ms-2">BUY
                                    NOW</span></a>
                        </div>

                    </div>

                </div>
                <div class="row mt-5 ms-5 me-5 hf_description">
                    <div class="col">
                        <h4 class="mt-3"><span class="brand">{{mobDetailed.brandName}}</span>&nbsp;<span
                                class="model-name">{{mobDetailed.mobileName}}</h4>
                        <p style="color:green ;">special price</p>
                        <h3><span class="price"><i class="fas fa-rupee-sign"></i>:{{mobDetailed.Price}}</span><span
                                style="font-size: 25px; color:red" class="ms-5"><strike>{{mobDetailed.marketPrice}}</strike></span></h3>
                    </div>

                </div>
                <div class="row hf_description  mt-2 ms-5 me-5">
                    <div class="col">
                        <div class="col">
                            <h4>Specifications</h4>
                            <hr>



                        </div>

                    </div>
                    <p style="font-weight: 900px; font-size: 20px;">General</p>
                    <table class="ms-3">

                        <tr class=" row">
                            <td class="col-3">Model Name</td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.mobileName}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3">Brand </td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.brandName}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3">Sales Package </td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.salesPackage}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3">Network Service Provider</td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.networkProvider}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3"> OS</td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.os}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3">Cellular Technology</td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.cellularTechnology}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3"> Color </td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.color}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3"> Storage </td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.internalStorage}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3"> RAM </td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.ram}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3"> Processor </td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.processor}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3"> Battery </td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.battery}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3"> Camera </td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.camera}}</td>
                        </tr>
                        <tr class=" row">
                            <td class="col-3">Screen  </td>
                            <td class="col-1">:</td>
                            <td class="col-8">{{mobDetailed.display}}</td>
                        </tr>


                    </table>
                   
                </div>



            </div>
        </div>
    </div>
</section>




{% endblock %}