{% extends "customer/index.html" %}

{% block content %}
<div class="contents">
       <div class="container">
            <div class="row">
                <div class="col-3" >
                    <div class="wl_sidebar">
                        <div class="row wl_left_top_box border">
                           <div class="col-2"> <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="" height="50px" width="50px"></div>
                           <div class="col-10 mt-2"> <h4 >Hello</h4></div>
                        </div>
                        <div class="row wl_left_second_box mt-5 border ">
                            <h4 class="mt-3">Account Settings</h4>
                            <div class="row mt-3"><i class="fa-regular fa-folder-arrow-down"></i>
                                <a href="" class="text-decoration-none text-dark"><h5>My Orders</h5></a>
                            </div>
                            
                           
                            <div class="row">
                                <a href="" class="text-decoration-none text-dark"><h5>Profile</h5></a>
                            </div>
                            <div class="row">
                                <a href="" class="text-decoration-none text-dark"><h5>Manage Address</h5></a>
                            </div>
                            
                            <div class="row">
                                <a href="" class="text-decoration-none text-dark"><h5>Payments</h5></a>
                            </div>
                            
                            <div class="row">
                                <a href="" class="text-decoration-none text-dark"><h5>My Whishlist</h5></a>
                            </div>
                            
                            <div class="row">
                                <a href="" class="text-decoration-none text-dark"><h5>Logout</h5></a>
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
                <div class="ms-2 col-8 border" >
                  
                    <div class="row mt-3  border-bottom">
                        <div class="col-3 ">
                            <img src="https://rukminim1.flixcart.com/image/312/312/xif0q/slipper-flip-flop/w/w/z/-original-imagg7syraqzqrws.jpeg?q=70" alt="" height="100px" width="80px">
                        </div>
                        <div class="col-9 mb-4">
                            <p style="font-size: 20px;">Product Name</p>
                            <p style="font-size: 20px; font-weight: 600;">rate</p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
       </div>
</div>

{% endblock %}