{% extends "shop_admin/index.html" %}

{% block content %}

<h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, quisquam accusantium! Corrupti aliquam dolorum in. Saepe quaerat, alias laborum provident accusantium quos nisi deserunt dolores eaque voluptate neque. Odio, corporis?</h1>
<h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt ut sapiente facilis tempore veritatis nisi deleniti aspernatur odit, aut odio cupiditate? Atque voluptatibus molestiae nostrum obcaecati, voluptas eligendi dolor fugit.</h1>
{% endblock %}